#piechart{
display: none;
}
#typeYear{
  display: inline;
}

#yearSearchWarning{
  display: none;

}
#pieChart{
  left:0%;
}

#barChart{
left:100%

}
#FixedInvoiceTable{

width:50%;
}
#unfixedInvoiceTable{
  
  width:50%;
}