#logon-bgimage {
  background: #3b3c3d;
  height: 100em;
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
}
.h1 {
  color: white;
  font-family: "Sans Serif";
  font-size: 75px;
}

.p {
  color: white;
  font-size: 25px;
}

.form {
  display: inline-block;
}
