#logon-bgimage {
  background: #3b3c3d;
  height: 100em;
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
}

#piggy {
  /* Main application logo */
  border-radius: 50%;
  width: 300px;
}
.h1 {
  color: #f6a7b8;
  font-family: "Sans Serif";
  font-size: 90px;
}

.p {
  color: white;
  font-size: 25px;
}

.form {
  display: inline-block;
}
